@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light+Two&family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: skyblue;
  min-height: 100vh;
  font-family: 'Platypi', serif;
}

header {
  position: absolute;
  background-color: rgba(34, 139, 34, 0.568);
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-family: 'Italianno', cursive;
  font-size: 40px;
  color: black;
  margin-right: 270px;

}

.navigation a {
  text-decoration: none;
  color: black;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
}

a:hover {
  color: white;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.parallax h2 {
  color: green;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text {
  position: absolute;
  font-size: 5em;
  color: black;
  text-shadow: 3px 3px 0 forestgreen,
               2px 2px 5px white,
               15px 15px 30px black;
              
}

.content {
  position: relative;
  background: forestgreen;
  padding: 100px;
}

.content h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 30px;
  color: black;
  margin-bottom: 15px;
}

.content p {
  font-size: 22px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
}